@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");




.wishlisticon {
  position: relative;
  cursor: pointer;
}

.wishlisticonmain {
  position: relative;
  width: 56px;
}

.wishlistbadge {
  position: absolute;
  top: -7px;
  right: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  padding: 5px;
  background-color: red;
  border: 2px solid #f4fdff;
  border-radius: 500px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  z-index: 1;
  transition: transform 0.15s, background-color 0.5s;
}






.wishlisticon:active .badge {
  background-color: black;
  transform: scale(1.2);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.75);
}

@media (max-width: 600px) {
  .wishlisticon:active .badge {
    transition: none;
  }

  .wishlisticonmain {
    width: 44px;
  }

  .wishlistbadge {
    position: absolute;
    top: -16px;
    right: -18px;
    min-width: 35px;
    height: 35px;
    padding: 0 7px;
    font-size: 11px;
    transition: transform 0.1s, background-color 0.2s;
  }

  .wishlisticon:hover .badge {
    transform: scale(1);
  }
}






#navlinksnew {
  animation: translate .4s;
}

@keyframes translate {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translate3d(3);
  }



  100% {
    transform: translateY(0%);
  }
}